@media screen and (width: 768px) and (height: 1024px) and (orientation: portrait)
{
    #flex-col{
		margin-bottom: 5px;
    }
    #flex-col.tabs a {
        align-items: center;
        color: #4a4a4a;
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
        padding: 0.5em 123px;
        vertical-align: top;
	}
	#btprev-verti{
		display: none;
	}
	#btnext-verti{
		display: none;
	}

/*Netflix*/
	#netflix-index {
		padding: 10% 5%;
	}
	#netflix-logo{
		width: 100%; 
	}
	#netflix-cs{
		height: 30%;
	}
	#netflix-leaving{
		height: 30%;
	}


/*Prime*/
	#prime-index {
		padding: 10% 5%;
	}
	#prime-logo{
		width: 100%; 
	}
	#prime-cs{
		height: 30%;
	}
	#prime-leaving{
		height: 30%;
	}

/*Disney*/
	#disney-index {
		padding: 10% 15%;
	}
	#disney-logo{
		width: 100%; 
	}
	#disney-cs{
		height: 30%;
	}
	#disney-leaving{
		height: 30%;
	}

/*Sky*/
	#sky-index {
		padding: 10% 15%;
	}
	#sky-logo{
		width: 100%; 
	}
	#sky-cs{
		height: 30%;
	}
	#sky-leaving{
		height: 30%;
	}
}