#navback{
    background-color: #686868;
}
#navblock2{
    background-color: #888888;
    float: left;
    width: 100%;
}
section{

    width:100%;
}
#navblock, .navbar-burger {
    text-align: center;
    background-color: #888888;
    color: black;
    font-weight: 900;
}
html{
    background-color: #999999;
}
.navbar {
    overflow: hidden;
    background-color: #999999;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.tile.box.is-parent{
    background-color: #999999;
}

.navbar-burger{
    top:1%;
    position: absolute;
    right: 6%;
    display: inline-block;
    background-color: #999999;
}
.dropdownmarco{

    color:red;
}
li.hm1{
    float: left;
    list-style-type: none;
    margin-right:15px ;
}