<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Where 2 Watch</title>
    <!--SWIPERJS
    <link rel="stylesheet" href="/node_modules/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="/node_modules/swiper/css/swiper.css">      
    <script src="/node_modules/swiper/js/swiper.min.js"></script>
    <script src="/node_modules/swiper/js/swiper.js"></script>
    -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">    
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--BULMA-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .swiper-container{
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
        }
        .swiper-slide{
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
        }
    </style>
</head>
 <body>
     <section>
        <div class="tile box is-parent">
                    <img src="../assets/pictures/Logo.png"  width="100" height="400"/>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="myDropDown()">
                    <div>
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>
                    </div>
                </a>
        </div>
            <div class="tile box is-parent" id="navback">
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/Netflix.png" width="110" height="30"/>
                </div>
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/AmazonPrime.png" width="80" height="30"/>
                </div>
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/DisneyPlus.jpg" width="130" height="30">
                </div>
                <div class="tile box is-child" id="navblock">
                        <img src="../assets/pictures/Appletv.png" width="160" height="40">
                </div>
            </div>
    </section>
    <p></p>
    <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[0].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[1].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[2].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[3].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[4].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[5].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[6].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[7].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[8].image}})"></div>
                <div class="swiper-slide" style="background-image:url({{dataValue?.ITEMS[9].image}})"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            </div>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true,
            },
            pagination: {
            el: '.swiper-pagination',
            },
        });
    </script>
 </body>
        <!--<div *ngFor ="let infos of dataValue.ITEMS" class="col-1-4">
            <div class="grid grid-pad">
                <div class="scrolling-wrapper">
                    <div class="scrolling-wrapper-flexbox">
                        <div><img src="{{dataValue?.ITEMS[0].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[1].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[2].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[3].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[4].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[5].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[6].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[7].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[8].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[9].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[10].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[11].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[12].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[13].image}}"></div>
                        <div><img src="{{dataValue?.ITEMS[14].image}}"></div>
                    </div>
                </div>-->
           <!-- </div>
        </div>
        <div id="carousel">

            <div class="hideLeft">
             <img src="{{dataValue?.ITEMS[0].image}}">
           </div>
     
           <div class="prevLeftSecond">
             <img src="{{dataValue?.ITEMS[1].image}}">
           </div>
     
           <div class="prev">
             <img src="{{dataValue?.ITEMS[2].image}}">
           </div>
     
           <div class="selected">
             <img src="{{dataValue?.ITEMS[3].image}}">
           </div>
     
           <div class="next">
             <img src="{{dataValue?.ITEMS[4].image}}">
           </div>
     
           <div class="nextRightSecond">
             <img src="{{dataValue?.ITEMS[5].image}}">
           </div>
     
           <div class="hideRight" >
             <img src="{{dataValue?.ITEMS[6].image}}">
           </div>
     
         </div>
         <p></p>    
         <div class="buttons">
           <button id="prev">Prev</button>
           <button id="next">Next</button>
         </div>
<h1>New Releases</h1>
        <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-4by2">
                                <img src="{{dataValue?.ITEMS[0].image}}">
                        </figure>
                        <p class="subtitle">{{dataValue?.ITEMS[0].unogsdate}}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[1].image}}">
                            </figure>  
                            <p class="subtitle">{{dataValue?.ITEMS[1].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[2].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[2].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[3].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[3].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[4].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[4].unogsdate}}</p>
                        </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[5].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[5].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[6].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[6].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[7].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[7].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[8].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[8].unogsdate}}</p>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <figure class="image is-4by2">
                                    <img src="{{dataValue?.ITEMS[9].image}}">
                            </figure>
                            <p class="subtitle">{{dataValue?.ITEMS[9].unogsdate}}</p>
                        </article>
                </div>
            </div>

<h1>Expiring</h1>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="subtitle">{{expire?.ITEMS[0].unogsdate}}</p>
                        <figure class="image is-4by2">
                                <img src="{{expire?.ITEMS[0].image}}">
                        </figure>
                    </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[1].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[1].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[2].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[2].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[3].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[3].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[4].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[4].image}}">
                            </figure>
                        </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[5].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[5].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[6].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[6].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[7].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[7].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[8].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[8].image}}">
                            </figure>
                        </article>
                </div>
                <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">{{expire?.ITEMS[9].unogsdate}}</p>
                            <figure class="image is-4by2">
                                    <img src="{{expire?.ITEMS[9].image}}">
                            </figure>
                        </article>
                </div>
            </div>
 </body>-->