#navback{
    background-color: #686868;
}
#navblock2{
    background-color: #888888;
    float: left;
    width: 100%;
}
section{

    width:100%;
}
#navblock, .navbar-burger {
    text-align: center;
    background-color: #888888;
    color: black;
    font-weight: 900;
}
html{
    background-color: #999999;
}
.navbar {
    overflow: hidden;
    background-color: #999999;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.tile.box.is-parent{
    background-color: #999999;
}

.navbar-burger{
    top:1%;
    position: absolute;
    right: 6%;
    display: inline-block;
    background-color: #999999;
}
.dropdownmarco{

    color:red;
}
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
} 
.card {
      flex: 0 0 auto;
    }
.scrolling-wrapper-flexbox > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
.scrolling-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
  }