<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Where 2 Watch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
 <body>
     <section>
        <div class="tile box is-parent">
                    <img src="../assets/pictures/Logo.png"  width="100" height="400"/>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="myDropDown()">
                    <div>
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>
                        <span aria-hidden="false"></span>
                    </div>
                </a>
        </div>   
        <div>
            <div class="tile box is-parent" id="navback">
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/Netflix.png" width="110" height="30"/>
                </div>
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/AmazonPrime.png" width="80" height="30"/>
                </div>
                <div class="tile box is-child" id="navblock">
                    <img src="../assets/pictures/DisneyPlus.jpg" width="130" height="30">
                </div>
            </div>
        </div>
    </section>
            <!--<div *ngFor ="let infos of dataValue.ITEMS">
                <div class="tile is-parent">
                    <div class="tile is -4">
                    <article class="tile is-child notification is-info">
                      <p class="title">{{infos.title}}</p>
                      <p class="subtitle">{{infos.type}}</p>
                      <figure class="image is-4by3">
                        <img src="{{infos.image}}">
                      </figure>
                      <p>{{infos.unogsdate}}</p>
                    </article>
                    </div>
                </div>
            </div>-->
        <p>{{dataValue.COUNT}}</p>
        <div *ngFor ="let infos of dataValue.ITEMS">
                <div class="scrolling-wrapper">
                        <div class="scrolling-wrapper-flexbox">
                                <div><img src="{{infos.image}}"></div>
                        </div>
                </div>
        </div>
        <ul  *ngFor ="let infos of dataValue.ITEMS; let i = index">
            <div>
            <li>{{i}}.{{infos.synopsis | decodeHtmlEntities}}</li>
            <li>{{infos.rating | decodeHtmlEntities}}</li>
            <li>{{infos.runtime | decodeHtmlEntities}}</li>
            </div>
          </ul>          
         
 </body>