.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 420px;
}

.notification {

    background-color: black !important;
    color: white;
}

.navbar {
    background-color: black !important;

}

.navbar-brand {
    color: white;
}

.navbar-menu,
.navbar-link {
    color: white;
}

.navbar-dropdown {
    background-color: black !important;
    color: white !important;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
    background-color: black!important;
}